{% extends 'base.html.twig' %}

{% block title %}Nos formation Cooking Formation{% endblock %}

{% block content %}

<h3>Nos Formations</h3>
    <div>
    {# <nav aria-label="breadcrumb" class="bg-transparent border-0 shadow-none" style="margin-top: 0px;">
    <ol class="breadcrumb bg-transparent border-0 shadow-none">
        <li class="breadcrumb-item"><a href="index.php?uc=acceuil">Acceuil</a></li>
        <li class="breadcrumb-item"><a href="index.php?uc=liste_formation">Formations</a></li>
        <li class="breadcrumb-item"><a href="index.php?uc=formation_cuisine">Cuisine</a></li>
        <li class="breadcrumb-item active" aria-current="page">Les Jus et sauces </li>
    </ol>
    </nav> #}
    </div>   

<div class="card p-3 border-0" style=" background: #F5F2EC">
        <div class="row mt-3">
		<div class="col">
			<div class="text-center">
				<h4 class=""> {{categories.nom}}</h1>
			</div>
		</div>
	</div> 
    <div class="row  ">
{% for formation in formations %}
        
{# {{ formation.categorie.nom }} #}
    
        <div class="col-md-4 mt-4">
            <!-- Copy the content below until next comment -->
            <div class="card card-custom bg-white border-white border-0">
                <div class="card-custom-img" style="background-image: url(/uploads/{{formation.image}});"></div>
                    <div class="card-body" style="overflow-y: auto">
                        <div class="row">
                            <div class="col-6">
                                <h4 class="card-title">{{formation.titre}}</h4>
                            </div>
                        </div>
                        <p class="card-text">
                        {{formation.description}}  
                    <div class="row">
                            <div class="col-md-4">
                            <a href="{{path('app_formation',{'slug':formation.slug})}}" class="btn hvr-grow-shadow   text-light rounded-0 " style="background-color: #174570;">En savoir   +</a>
                            
                            </div>
                            <div class="col-md-5">
                                Niveaux :
                            {% for i in 1..formation.Difficultes %}
                                <i class="fa-solid fa-graduation-cap"></i>
                            {% endfor %}
                            </div>
                            <div class="col-md-3 ">
                                <i class="fa-solid fa-calendar-days"></i> 35h
                            </div>
                        </div>
                    </div>
                    
                <div class="card-footer" style="background: inherit; border-color: inherit;">
            </div>
        </div>
    </div>
{# 
    <pre>

        {{ dump(formation) }}

    </pre> #}
    
{% endfor %}
    </div>
</div>

{% endblock %}
